$button-color: #2e2e2e;
$blog-font: 'Poppins', sans-serif;

body {
  font-family: 'Heebo', sans-serif;
  margin: 0;
}

#nav-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  #top-half {
    display: flex;
    flex-direction: row;
    input {
      display: block;
      margin-top: 50px;
      margin-left: 50px;
      font-size: 18pt;
      width: 800px;
    }
    .nav-buttons {
      margin-top: 40px;
      width: 10%;
      height: 40px;
      font-size: 12pt;
      background-color: #fcfcfc;
    }
    #sign-in {
      margin-left: 680px;
    }
    #cart {
      margin-right: 40px;
      color: #009200;
    }
  }
}
  #bottom-half {
     display: flex;
     flex-direction: row;
     }
     li {
       font-size: 8pt;
       display: inline;
       margin-left: 20px;
     }

#jumbo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  #jumbo-pic {
    width: 100%;
  }
  #jumbo-button {
    bottom: 15%;
    position: absolute;
    font-weight: 100;
    font-size: 14pt;
    color: white;
    padding: 5px;
    border-color: $button-color;
    background-color: $button-color;
  }
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#featured-items {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  img {
    width: 380px;
    height: 285px;
  }
}

#blog-header {
  margin-left: 10%;
  a {
    font-size: 16pt;
    text-decoration: none;
    color: #009200;
    font-family: $blog-font
  }
  #blog-text {
    font-size: 24pt;
    font-family: $blog-font;
  }
}


#blog {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  img {
    width: 572px;
  }
}

#bottom-banners {
  display: flex;
  flex-direction: column;
  align-items: center;
}
